<?xml version="1.0"?>
<ruleset name="b14t/default-theme">
    <description>The coding standard for b14t/default-theme.</description>

    <!-- Path to best it ruleset. -->
    <rule ref="./vendor/bestit/php_codesniffer/src/Standards/BestIt/ruleset.xml" />

    <!-- Path to directory which are checked. -->
    <file>backend/</file>
</ruleset>